@charset "UTF-8";

@import "bourbon";
@import "designkit-colors";

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.purple {
  background-color: $purple;
}

.orange {
  background-color: $orange;
}

.viking {
  background-color: $viking;
}

.royal-purple {
  background-color: $royal-purple;
}

.mulberry {
  background-color: $mulberry;
}

.buckthorn {
  background-color: $buckthorn;
}

.celery {
  background-color: $celery;
}

.indian {
  background-color: $indian;
}

.silver-tree {
  background-color: $silver-tree;
}

.sean {
  background-color: $sean;
}
